$darkBlue: #253c59;
$regularBlue: #58788c;
$lightBlue: #99b4bf;
$yellow: #d9b70d;
$tan: #bf8d30;
$white: #eff1f3;

$bgColor: $darkBlue;
$accentColor: $yellow;
$accentColor2: $tan;
$textColor: $white;
